.gtp3__cta {
   display: flex; 
   justify-content: space-between;
   align-items: center;
   margin: 4rem;
   padding: 2rem;
   background: var(--gradient-bar);
   border-radius: .8rem;
}

.gtp3__cta-content p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #0E0E0E;
}

.gtp3__cta-content h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #000000;
}

.gtp3__cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.gtp3__cta-btn button {
    background: #000000;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    border-radius: 40px;
    padding: .5rem 1rem;
    min-width: 150px;
    cursor: pointer;
    border: none;
    outline: none;
}

@media screen and (max-width: 750px) {
    .gtp3__cta {
        flex-direction: column;
    }

    .gtp3__cta-btn {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 550px) {
    .gtp3__cta {
        margin: 4rem 2rem;
    }

    .gpt3__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .gpt3__cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}